<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for(let { endpoint, url, methods } of routes) { %>
        <li>
          <% if(url) { %>
            <a href=<%= url %>>
              <%= endpoint %>
            </a>
          <% } else { %>
            <%= endpoint %>
          <% } %>
          <ul>
            <% for(let method of methods) { %>
              <li><%= method %></li>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>
  </body>
</html>
